@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body {
  background-color: #1b1c22 !important;
  color: #fff;
  font-family: "Nunito", sans-serif !important;
}

.movie {
  position: relative;
}
.vote {
  background-color: #ffa500;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbarColor {
  background-color: #212229;
}

.fontFamily {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #999;
}

.active {
  color: #999;
}
